



.boardContainer h1 {
	font-family: arial
	font-size: 50px;
	text-align: center;
}

.boardContainer button{
	text-align: center;
	display: inline-block;
	background-color: gray;
	margin-left: 400px;
	margin-right: 400px;
	margin-bottom: 20px;
	width: 400px;
}


.board {

	border-style: solid;
    border-width: 5px;
	border-color: black;
	margin: 0 auto;
	width: 650px;
	height: 660px;
	background-color: #D8D8D8;	

}


.box {
	
	border-style: solid;
    border-width: 2px;
	border-color: black;
  	width: 200px;
  	height: 200px;
  	margin: 5px;
  	background-color: #B0C4DE;
  	float:left;
  	text-align: center;
  	position: relative;
 

 
}

.innerBox {
	position: absolute;

}

#boxA1 #boxA2 #boxA3 #boxB4 #boxB5 #boxB6 #boxC7 #boxC8 #boxC9 {
	position: absolute;

}

